<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Home</h1>
  <p>Bem vindo a sua agenda</p>
  <div class="jumbotron jumbotron-fluid primary white">
    <div class="container text-center">
      <a class="btn secondary white btn-lg" href="/login">Login</a>
      <a class="btn secondary white btn-lg" href="/cadastro">Registrar</a>
    </div>
  </div>
</body>

</html>